<% include partials/header %>

<div class="container">
	<form action="/campgrounds" method="POST">
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Nome</label>
			<div class="col-sm-10">
				<input class="form-control-plaintext" type="text" name="name" placeholder="name">
			</div>
		</div>
		<div class="form-group row">
			<label for="image" class="col-sm-2 col-form-label">URL da Imagem</label>
			<div class="col-sm-10">
				<input class="form-control-plaintext" type="text" name="image" placeholder="image url">
			</div>
		</div>
		<button class="btn btn-block btn-success"> Enviar </button>
	</form>
	<a class="btn btn-success" href="/campgrounds">Voltar</a>

</div>

<% include partials/footer %>