<% include partials/header %>

<h1> Camp escolhido: <%= campground.name %></h1>
<img class="img-fluid" src="<%= campground.imgURL %>">
<p><%= campground.description %></p>

<% include partials/footer %>